<template name="indus">
  <div class="jumbotron">
  <div class="posts">
      <a href="/celulle/U1"><div class="post" style="background-color:grey;color:white"><h1>ITN/PDA/U1</h1></div></a>
      <a href="/celulle/U2"><div class="post" style="background-color:orange"><h1>ITN/PDA/U2</h1></div></a>
      <a href="/celulle/U3"><div class="post" style="background-color:cyan"><h1>ITN/PDA/U3</h1></div></a>
      <a href="/celulle/U4"><div class="post" style="background-color:yellow"><h1>ITN/PDA/U4</h1></div></a>df -h

  </div>
  </div>
</template>